/* General Section Styling */
section {
    text-align: center;
}

section h1 {
    margin: 1rem;
}

section .project img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure max width is 100% for mobile */
}

/* Project Section Styling */
.project-section {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

/* Project Visibility and Animation */
.project {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.project.expanded {
    max-height: 1000px; /* Set a max height high enough to fit content */
    opacity: 1;
}

/* Toggle Button Styling */
.toggle-btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem auto; /* Center the button horizontally */
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Responsive Styling */

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    section .project img {
        max-width: 200px; /* Set max-width for tablet */
        height: 200px;
        object-fit: cover;
        border-radius: 1rem;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    section .project img {
        max-width: 300px; /* Set max-width for desktop */
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
    }
}
